<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模板9</title>
</head>
<body>

<a href="{:U('deldata')}">解除绑定</a>

	网点信息<hr>
	<br>城市地区:{$officelist.place}
	<br>机构名称:{$officelist.oname}
	<br>电话:{$officelist.phone}
	<br>地址:{$officelist.address}
	<br>邮政编码:{$officelist.postalcode}
	<hr>
	轮播图1名字:{$slideshowlist.0.title}
	轮播图1图片:<img src="__PUBLIC__{$slideshowlist.0.pic}" width="120" height="50">
	轮播图1跳转连接:{$slideshowlist.0.url}
	<hr>
	轮播图2名字:{$slideshowlist.1.title}
	轮播图2图片:<img src="__PUBLIC__{$slideshowlist.1.pic}" width="120" height="50">
	轮播图2跳转连接:{$slideshowlist.1.url}
	<hr>
	轮播图3名字:{$slideshowlist.2.title}
	轮播图3图片:<img src="__PUBLIC__{$slideshowlist.2.pic}" width="120" height="50">
	轮播图3跳转连接:{$slideshowlist.2.url}
	<hr>
	轮播图4名字:{$slideshowlist.3.title}
	轮播图4图片:<img src="__PUBLIC__{$slideshowlist.3.pic}" width="120" height="50">
	轮播图4跳转连接:{$slideshowlist.3.url}

	<hr>
	<hr>
	<hr>
	按钮1名字:{$buttonlist.0.title}
	按钮1跳转连接:{$buttonlist.0.url}
	<hr>
	按钮2名字:{$buttonlist.1.title}
	按钮2跳转连接:{$buttonlist.1.url}
	<hr>
	按钮3名字:{$buttonlist.2.title}
	按钮3跳转连接:{$buttonlist.2.url}
	<hr>
	按钮4名字:{$buttonlist.3.title}
	按钮4跳转连接:{$buttonlist.3.url}
	<hr>
	按钮5名字:{$buttonlist.4.title}
	按钮5跳转连接:{$buttonlist.4.url}
	<hr>
	按钮6名字:{$buttonlist.5.title}
	按钮6跳转连接:{$buttonlist.5.url}
	<hr>
	按钮7名字:{$buttonlist.6.title}
	按钮7跳转连接:{$buttonlist.6.url}
	<hr>
	按钮8名字:{$buttonlist.7.title}
	按钮8跳转连接:{$buttonlist.7.url}
</body>
</html>